<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>proshanto</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openMRSVersion}</require_version>
	<!-- / Module Properties -->

	
	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.PSIActivator</activator>
	<require_modules>		
		<require_module>org.openmrs.module.webservices.rest</require_module>
	</require_modules>
	
	<!-- Adds link to admin page -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.AdminList</class>
	</extension>
	
	<!-- Maps hibernate file's, if present -->
	<mappingFiles>				
		psiclinic.hbm.xml
		psiclinicspot.hbm.xml
		psiclinicuser.hbm.xml
		psiservicemanagement.hbm.xml
		psimoneyreceipt.hbm.xml
		psiserviceprovision.hbm.xml
		psiclinicuser.hbm.xml
		psidhismarker.hbm.xml
		psidhisexception.hbm.xml
		psiuniqueidgenerator.hbm.xml
		psiclinicchild.hbm.xml
		psiclinicinwardreferral.hbm.xml
		auhcservicecategory.hbm.xml
		auhcclinictype.hbm.xml
		shneslipnogenerate.hbm.xml
		shnprescriptionmetadata.hbm.xml
		shndhisobselement.hbm.xml
		shndhisencounterexception.hbm.xml
		shndhismultiplechoiceobselement.hbm.xml
		shnstock.hbm.xml
		shnstockdetails.hbm.xml
	</mappingFiles>

	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->

</module>

