.note
{
    text-align: center;
    height: 44px;
    background: -webkit-linear-gradient(left, #387c7c, #387c7c);
    color: #fff;
    font-weight: bold;
    line-height: 44px;
}
.form-content
{
    padding: 1%;
    border: 1px solid #ced4da;
    margin-bottom: 1%;
}
.form-control{
    border-radius:1.5rem;
}
.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #387c7c;
    color: #fff;
}