.note
{
    text-align: center;
    height: 44px;
    background: -webkit-linear-gradient(left, #387c7c, #387c7c);
    color: #fff;
    font-weight: bold;
    line-height: 44px;
}
.form-content
{
    padding: 1%;
    border: 1px solid #ced4da;
    margin-bottom: 1%;
}
.form-control{
    border-radius:1.5rem;
}
.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #387c7c;
    color: #fff;
}

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

.form-inline {  
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.form-inline label {
  margin: 5px 10px 5px 0;
}

.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.form-inline button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
}
.input-size {
  width: 70px;
  }

.form-inline button:hover {
  background-color: royalblue;
}

@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }
 
  .form-inline {
    flex-direction: column;
    align-items: stretch;
    width:400px;
  }
}